APP_NAME=MedFlow
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.xdrvacdnwsooilzqixox
DB_PASSWORD=your-password
DB_SSLMODE=require

SUPABASE_PROJECT_REF=xdrvacdnwsooilzqixox
SUPABASE_URL=https://xdrvacdnwsooilzqixox.supabase.co
SUPABASE_ANON_KEY=your-anon-key

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
